html, body {
  height: 100%;
  margin: 0;
}

/* Set up flexbox column layout on the body */
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers the group vertically */
  align-items: center;     /* centers horizontally */
  text-align: center;
}

footer {
  background-color: #06db7f;
  text-align: center;
  padding: 1rem;
}